.remark-code, .remark-inline-code {
  font-family: 'Fira Mono', 'Lucida Console', Monaco, monospace;
}

.remark-inline-code {
  background: #F5F5F5; 
}

.divide-slide {
    background: linear-gradient(
    to right, 
    #23373B 0%, 
    #23373B 50%, 
    #FAFAFA 50%, 
    #FAFAFA 100%
  );
}

.title-slide h1 {
  font-size: 50px;
}
